<header class="header">
      <div class="name">
        <h1 class="name">Yalan (Christina) Bi</h1>
        <div class = "social">
            <a href="https://www.linkedin.com/in/yalan-christina-bi-6700b199/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/christinabi"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="index.html">About</a></li>
          <li><a href="research.html">Research</a></li>
          <li><a href="resume.html">Resume</a><li>
        </ul>
      </div>
    </header>
